{% extends "base.html" %}
{% block title %}Dashboard – Docker{% endblock %}

{% block content %}
<div class="row">

  <!-- CPU Chart -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body text-center">
        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
          Container CPU usage
        </div>
        <canvas id="cpuChart" width="100" height="100"></canvas>
        <div class="mt-2 small" id="cpuVal">0 %</div>
        <div class="small text-gray-600" id="cpuMax">/ 100% (0 CPUs)</div>
      </div>
    </div>
  </div>

  <!-- Memory Chart -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body text-center">
        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
          Container memory usage
        </div>
        <canvas id="memChart" width="100" height="100"></canvas>
        <div class="mt-2 small" id="memVal">0 GB</div>
        <div class="small text-gray-600" id="memMax">/ 0 GiB</div>
        <div class="small font-weight-bold" id="memPct">0 %</div>
      </div>
    </div>
  </div>

  <!-- Disk Chart -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-info shadow h-100 py-2">
      <div class="card-body text-center">
        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
          Disk usage ({{ hwinfo.disk_device }})
        </div>
        <canvas id="diskChart" width="100" height="100"></canvas>
        <div class="mt-2 small" id="diskVal">0 GB free</div>
        <div class="small text-gray-600" id="diskMax">/ 0 GB</div>
        <div class="small font-weight-bold" id="diskPct">0 %</div>
      </div>
    </div>
  </div>

</div>

<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Conteneurs actifs</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
   <table id="contTable" class="table table-bordered" width="100%">
  <thead>
    <tr>
      <th></th>           <!-- chevron -->
      <th>Nom</th><th>CPU %</th><th>RAM %</th><th>RAM</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>


    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}

{% endblock %}
